@import '@/sass/base/_typography.module.scss';
@import '@/sass/base/_mixins.module.scss';
@import '@/sass/base/__media.module.scss';
@import '@/sass/base/__variables.module.scss';
// .upcoming-filter-inputs {
.job-filter-inputs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;

  .job-name-filter {
    width: 47%;

    label {
      margin-bottom: 0;
    }
  }

  .job-status-filter {
    width: 47%;

    label {
      margin-bottom: 0;
    }

    select {
      .selected-placeholder {
        display: none;
      }
    }
  }
}
