@import '@/sass/base/_typography.module.scss';
@import '@/sass/base/_mixins.module.scss';
@import '@/sass/base/__media.module.scss';
@import '@/sass/base/__variables.module.scss';
.toggle {
  display: flex;
  align-items: center;
}

.toggle-label {
  cursor: pointer;
  outline: none;
  padding-left: 8px;
  font-size: 14px;
  white-space: nowrap;
}
