@import '@/sass/base/_typography.module.scss';
@import '@/sass/base/_mixins.module.scss';
@import '@/sass/base/__media.module.scss';
@import '@/sass/base/__variables.module.scss';
.upload-item--media {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  align-items: center;

  @include media-down(large-tablet) {
    gap: 7px;
  }
}

.upload-item--name-and-size {
  flex: 1;
  padding: .2rem;
}

.upload-item--name {
  font-size: 90%;
  font-weight: bold;
  line-height: 1;
}

.upload-item--size {
  font-size: 80%;
  color: $textcolor-disabled;
}

.upload-item {
  padding: 10px;
  background-color: #F2F5F7;
  margin-bottom: 15px;
  border-radius: 5px;
}
