@import '@/sass/base/_typography.module.scss';
@import '@/sass/base/_mixins.module.scss';
@import '@/sass/base/__media.module.scss';
@import '@/sass/base/__variables.module.scss';
.building-info-point {
  display: inline-block;
  margin: 0 10px 8px 0;
  line-height: 1.4em;

  @include media-down(tablet) {
    font-size: 14px;
  }

  &:before {
    content: '•';
    margin-right: 2px;
  }
}