$buttons: (
  white: $white,
  black: $black,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  highlight: $highlight,
  danger: $danger,
);

button.button, .button {
  @include body-font();
  background: $primary;
  color: $white;
  border: 1px solid $primary;
  border-radius: 3px;
  padding: .4em .8em;
  font-size: 0.95em;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 1.5em;

  &:hover {
    background: $secondary;
    border-color: $secondary;
    color: $white;
    opacity: 0.9;
    text-decoration: none;
  }

  &.small {
    padding: .2em .4em;
    font-size: 0.85em;

    @include media-down(large-mobile) {
      font-size: 0.65em;
      padding: .1em .2em;
    }
  }

  @include media-down(large-mobile) {
    font-size: 0.85em;
    padding: .2em .4em;
  }

  @each $name, $color in $buttons {
    &.#{$name},&.button--#{$name} {
      background: $color;
      border-color: $color;
      @if $name == white {
        color: $textcolor;
      }

      &:hover {
        background: darken($color, 15%);
        border-color: darken($color, 15%);
        @if $name == secondary {
          color: white;
        }
      }

      &:hover:enabled {
        background: darken($color, 15%);
        border-color: darken($color, 15%);
        @if $name == secondary {
          color: white;
        }
      }

      &.outline {
        background: transparent;
        color: $color;

        &:hover {
          background: transparent;
        }
      }

      &:disabled {
        background: lighten($color, 15%);
        border-color: lighten($color, 15%);
        opacity: 0.8;
      }
    }

    &.button--line-#{$name} {
      background: $white;
      border-color: $color;
      color: $color;

      &:hover {
        background: $color;
        color: $white;
      }

      &:disabled {
        opacity: 0.8;
      }
    }
  }

  &.button--link {
    background: transparent;
    border: 1px solid transparent;
    color: $tertiary;

    &:disabled {
      color: lighten($tertiary, 15%);
      opacity: 0.8;
    }
  }

  &.button--link-dark {
    background: transparent;
    border: 1px solid transparent;
    color: $secondary;

    &:disabled {
      color: lighten($secondary, 15%);
      opacity: 0.8;
    }
  }

  &.button--link-dark {
    background: transparent;
    border: 1px solid transparent;
    color: $secondary;

    &:disabled {
      color: lighten($secondary, 15%);
      opacity: 0.8;
    }
  }

  .button__text {
    @include media-down(tablet) {
      display: none;
    }
  }
}

.button-group, .button-group--vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.button-group>.button:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group>.button:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

.button-group>.button:last-child:not(:first-child), .button-group>.dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-group>.button:first-child {
  margin-left: 0;
}

.button-group--vertical>.button, .button-group>.button {
  position: relative;
  float: left;
}

.button-group .button+.button, .button-group .button+.button-group, .button-group .button-group+.button, .button-group .button-group+.button-group {
  margin-left: -1px;
}

a:link.default--link, a:visited.default--link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: pointer;
}

a:link.default--link-dark, a:visited.default--link-dark {
  color: $secondary;
  text-decoration: underline;
  cursor: pointer;
}
