@import '@/sass/base/_typography.module.scss';
@import '@/sass/base/_mixins.module.scss';
@import '@/sass/base/__media.module.scss';
@import '@/sass/base/__variables.module.scss';
.error-content {
  text-align: center;
  padding: 10px;
  line-height: normal;

  .error-code {
    font-size: 1200%;
    font-weight: bold;
    color: #78e0cb;

    @media (max-width: 767px) {
      font-size: 600%;
    }
  }

  .error-message-primary {
    font-size: 280%;

    @media (max-width: 767px) {
      font-size: 140%;
    }
  }

  .error-message-secondary {
    font-size: 130%;

    @media (max-width: 767px) {
      font-size: 100%;
    }
  }

  .action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      margin: 20px 15px 0 15px;
      border-radius: 4px;
      font-weight: bold;
    }

    i.fa {
      font-size: 150%;
    }
  }
}
