@import '@/sass/base/_typography.module.scss';
@import '@/sass/base/_mixins.module.scss';
@import '@/sass/base/__media.module.scss';
@import '@/sass/base/__variables.module.scss';
.account-settings-wrapper {
  display: flex;
  margin: auto;
  margin-top: 20px;
  max-width: 1400px;
  padding: 0 40px;
  flex-direction: row;
  align-items: flex-start;

  @include media-down(large-mobile) {
    flex-direction: column;
    padding: 0 20px;
  }
}
