@import '@/sass/base/_typography.module.scss';
@import '@/sass/base/_mixins.module.scss';
@import '@/sass/base/__media.module.scss';
@import '@/sass/base/__variables.module.scss';
.password-form {
  span {
    line-height: 21px;
  }

  .checkbox {
    a {
      text-decoration: underline;
      color: #818181;
    }
  }

  .agreement-checkbox {
    margin-top: 20px;
  }

  .agreement-checkbox a {
    text-decoration: underline;
  }
}
