@import '@/sass/base/_typography.module.scss';
@import '@/sass/base/_mixins.module.scss';
@import '@/sass/base/__media.module.scss';
@import '@/sass/base/__variables.module.scss';
.approver-explanation-tooltip-content {
  max-width: 350px;

  .row {
    display: flex;
    align-items: center;

    span.hint {
      margin-left: 1em;
    }
  }
}
