@import '@/sass/base/_typography.module.scss';
@import '@/sass/base/_mixins.module.scss';
@import '@/sass/base/__media.module.scss';
@import '@/sass/base/__variables.module.scss';
.dms-prev-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .dms-prev-container--button-container {
    display: flex;
    gap: 15px;
  }
}
