@import '@/sass/base/_typography.module.scss';
@import '@/sass/base/_mixins.module.scss';
@import '@/sass/base/__media.module.scss';
@import '@/sass/base/__variables.module.scss';
.preview-missing-items-modal-container {
  .loading {
    height: auto;
  }

  .buttons-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
